.con_container {
    margin: 0 auto;
    max-width: 600px;
    padding: 10px;
  }
  
  form label {
    display: block;
    margin-bottom: 8px;
  }
  
  form input[type="text"],
  form input[type="email"],
  form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  form textarea {
    height: 100px;
  }
  
  form button[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  form button[type="submit"]:hover {
    background-color: #45a049;
  }
  textarea {
    height: 200px;
    margin-bottom: 10px;
  }
  
.my_con {
  margin-left: 10%;
  display: flex;

}
.img_side {
  margin-left: 1%;
}
.profile img {
  width: auto;
  height: 130px;
  border-radius: 50%;
}
.email {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  margin-top: 6px;
  display: inline-block;
}
.e_name {
  display: inline-block;
  margin-top: 2px;
  margin-left: 3px
}