<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>About</title>
	<link rel="stylesheet" type="text/css" href="static/sat1.css">
</head>

<body>
	<header class="fixed-header">
		<div class="logo">
			<img src="static/logo_sr.jpg" alt="Logo">
		</div>
		<div class="company-name">
			SR Effort Calculator
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<br><br><br><br>
	<main>
		<div class="about">
			<div class="about_con">
				<h2>About</h2>
				Effort Calculator is a user-friendly website that simplifies the process of estimating the effort
				required
				for a project. Using a use-case point system, our platform allows users to break down their project into
				individual tasks and estimate the effort required for each task. Our website is designed with the user
				in
				mind, providing a range of features and guidance to ensure accurate and reliable project estimation.
				<br>
				We understand the importance of accurate project estimation in achieving success, which is why we have
				created a platform that is easy to use and intuitive, even for inexperienced users. Our use-case point
				system is a proven method for estimating project effort, providing a more reliable estimate than
				traditional
				methods.
				<br>
				At Effort Calculator, we believe that accurate project estimation is key to success, and our platform is
				designed to help you achieve just that. Whether you're a seasoned project manager or new to the field,
				our
				website is the go-to platform for all your project estimation needs.
			</div>
			<img src="static/codeing.png" alt="code">
		</div>
		<br><br>
		<h2>
			<center><u>Devloper's of Website</u></center>
		</h2>
		<div class="about2">
			<div class="img_s">
				<div>
					<img src="static/sat_profile.jpeg" alt="Satish">
				</div>
				<div class="satish">
					<p>
						Hey,Myself Satish Maurya.I am from Azamgrah uttar pradesh.
						<br> Currently i am purshing my B.tech IT
						branch from SRMCEM lucknow. <br>
						I would like to coding and solve mathmatics problem.
						<br>I would like to become a Data Scientist
					</p>
				</div>
			</div>
			<div class="img_r">
				<div>
					<img src="static/rishi.jpeg" alt="Satish">
				</div>
				<div class="rishi">
					<p>
						Hi, my name is Rishi Naudiyal and I am currently a 3rd year student pursuing B.Tech in
						Information Technology. I am an AI and ML enthusiast, and I am passionate about exploring the
						latest advancements and trends in these fields.

						As a Java developer, I have gained expertise in programming and have also worked on various web
						development projects using the MERN stack. My technical skills and experience in developing web
						applications have enabled me to gain a comprehensive understanding of the full-stack development
						process.

					</p>
				</div>
			</div>
		</div>
	</main>





	<footer>
		<div class="copyright">
			&copy; SR_Effort_Calculator. All Rights Reserved.
		</div>
	</footer>
</body>

</html>