<!DOCTYPE html>
<html>

<head>
	<title>functional-cal1</title>
	<link rel="stylesheet" type="text/css" href="static/sat1.css">
</head>

<body>
	<header class="fixed-header">
		<div class="logo">
			<img src="static/logo_sr.jpg" alt="Logo">
		</div>
		<div class="company-name">
			SR Effort Calculator
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<br><br><br><br>
	<main>
		<h2>Enter all values which is mention below-</h2>
		<form action="functional.html" method="post">
			<h4>
			<table>
				<tr>
					<td>Select Complexity of software</td>
					<td><select name="Complexity">
						<option value="Simple">Simple</option>
						<option value="Average">Average</option>
						<option value="Complex">Complex</option>
					</td>
				</tr>
				<tr>
					<td>Number of User Input</td>
					<td><input type="menu" name="U1"></td>
				</tr>
				<tr>
					<td>Number of User Output</td>
					<td><input type="text" name="U2"></td>
				</tr>
				<tr>
					<td>Number of User Inquirie</td>
					<td><input type="text" name="U3"></td>
				</tr>
				<tr>
					<td>Number of Internal Logical File</td>
					<td><input type="text" name="U4"></td>
				</tr>
				<tr>
					<td>Number of External Interface File</td>
					<td><input type="text" name="U5"></td>
				</tr>
			</table>
			<input type="submit" value="Submit" class="button3">
		</h4>
		</form>
		
	</main>
	<br><br><br><br>
	<footer>
		<div class="copyright">
			&copy; SR_Effort_Calculator. All Rights Reserved.
		</div>
	</footer>

</body>

</html>