<!DOCTYPE html>
<html>

<head>
	<title>Home</title>
	<link rel="stylesheet" type="text/css" href="static/sat1.css">
</head>

<body>
	<header class="fixed-header">
		<div class="logo">
			<img src="static/logo_sr.jpg" alt="Logo">
		</div>
		<div class="company-name">
			SR Effort Calculator
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<br><br><br><br>
	<main>
		<h1>
			<center>Welcome</center>
		</h1>
		<div class="index_img">
			<div class="ind">
				<h1>
					Use Case Diagram:-
				</h1>
				<div class="calculator">
					<ul>
						<h3>
							<li><a href="document1.html" class="button">Read Documentation of Use Case Diagram and
									Estimation</a></li>
						</h3>
						<h3>
							<li><a href="Effort_cal.html" class="button">Calculate Effort Using Use Case Diagram</a>
							</li>
						</h3>
					</ul>
				</div>
				<h1>
					Functional Point Analysis:-
				</h1>
				<div class="calculator">
					<ul>
						<h3>
							<li><a href="document2.html" class="button">Read Documentation of Functional Point
									Analysis</a>
							</li>
						</h3>
						<h3>
							<li><a href="functional.html" class="button">Calculate Effort Using Functional Point</a>
							</li>
						</h3>
					</ul>
				</div>
			</div>
			<div class="img1">
				<img src="static/codeing.png" alt="">
			</div>
		</div>

	</main>
	<br><br><br><br>
	<footer>
		<div class="copyright">
			&copy; SR_Effort_Calculator. All Rights Reserved.
		</div>
	</footer>

</body>

</html>