<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Result-Analysis</title>
	<link rel="stylesheet" type="text/css" href="static/sat1.css">
</head>

<body>
	<header class="fixed-header">
		<div class="logo">
			<img src="static/logo_sr.jpg" alt="Logo">
		</div>
		<div class="company-name">
			SR Effort Calculator
		</div>
		<nav>
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="about.html">About</a></li>
				<li><a href="contact_us.html">Contact Us</a></li>
			</ul>
		</nav>
	</header>
	<br><br><br><br>
	<main>
		<dl>
			<dt>
				<h2>Productivity Factor:</h2>
			</dt>
		
				<dd>The productivity factor is a multiplier used to estimate the effort time in man hours for a software
					development project. The value of the productivity factor is influenced by the experience and
					expertise
					of the development team. A team with more experience and expertise is likely to have a higher
					productivity factor, indicating a more efficient and effective development process. Therefore, it is
					important to take into account the team's experience and capabilities when estimating the
					productivity
					factor and effort time for a project.
				</dd>
			
			<dt>
				<h2>Range of productivity factor on the basis of experience:</h2>
			</dt>
			<dd>
	
					<ul>
						<li>Beginner Team : 26-30</li>
						<li>Average Team : 20-26</li>
						<li>Experienced Team : 14-20</li>
					</ul>
			
			</dd>
		</dl>
		<h2><center>Effort Time=(Use Case Point    *    Productivity Factor) man-hours</center></h2>
		<center><img src="{{url}}" alt="chart" width="600px" height="450px"></center>
	</main>
	<br><br><br><br>
	<footer>
		<div class="copyright">
			&copy; SR_Effort_Calculator. All Rights Reserved.
		</div>
	</footer>

</body>

</html>